<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59704294952-ua0hr83gs3npmccn94oppr404ain6llm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59704294952-ua0hr83gs3npmccn94oppr404ain6llm</string>
	<key>API_KEY</key>
	<string>AIzaSyAmZTHWdANzkvXR9Z1uQJA_3JNuQvGWRBE</string>
	<key>GCM_SENDER_ID</key>
	<string>59704294952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newiet</string>
	<key>PROJECT_ID</key>
	<string>authentication-127d9</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-127d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59704294952:ios:3cdd98576531e9b9b2ff1d</string>
</dict>
</plist>